body {
 
    font-family: "Nanum Gothic",sans-serif;
    margin-left: 90px;

  }
h4{
    margin-top: 15px;
    text-decoration:none;
}

a {
    color : black;

    text-decoration: none; /*밑줄없애기*/
}
/* a :hover{
   color: red;
} */

.main{

    text-align: center;
    padding-top :100px;
    padding-left: 150px;
    padding-right: 300px;


}
.grid1{
    display: grid;
    grid-template-columns: 300px 200px;
    grid-gap: 25px;
    justify-items: center;  
    text-align: center; 
    margin-left: 65px;
}


#txtID, #txtPW{
    margin-bottom: 10px;
    width: 150px;
}
.login{
    border: 1px dotted rgb(100, 93, 93);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 3px 3px 7px gray;

}
.grid2{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 25px;
    
    justify-items: center;  
    text-align: center; 
    margin-top: 25px;
}
.cat_info, .cat_adopt, .cat_qa{
    border: 1px dotted gray;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    width: 150px;
    height: 100px;
    background: rgb(221, 217, 217);
    
}

.grid3{

    display: grid;
    grid-template-columns: 150px 450px;
    gap: 150px;
    margin-left: 100px;
    justify-items: center;  
    text-align: center; 
    border-bottom: 1px dotted gray;
   
    width: 800px;
    
}
.navi{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 50px;
    margin-top: 28px;
    box-shadow: 1px 1px 5px  gray;
}
.navi a{
    color:black; 
}
.navi a:hover, .on{
    color:red; 
}

#article_1{

    width: 800px;
    margin-left: 200px;
    border-bottom: 1px solid gray;
    background: rgb(212, 207, 207);
    border-radius: 10px;
    
}
table.list {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 800px;
    margin-left: 100px;
    }

table.list thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(109, 109, 109);
    border-bottom: 3px solid rgba(109, 109, 109, 0.562);
    background: #f3f6f7;


}

table.list tbody th {
    width: 600px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
   
}

table.list tbody td {
    
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
 
}
table.list td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

table.article {
    border-collapse: collapse;
    border-bottom: 3px solid rgba(109, 109, 109, 0.562);
    text-align: left;
    line-height: 2;
    width: 800px;
    text-align: center;
   
    }
table.article td{
    
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#content{

    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    line-height: 1.5;
}
.본문{
    border: 1px dotted gray;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 90px;
    width: 800px;
    padding: 10px;
}
.댓글{
    border: 1px dotted gray;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 90px;
    width: 770px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-top: 25px;
}
.board-container{
    width: 700px;

}
.board {
    width: 800px;
    text-align: center;
    margin-bottom: 15px;
  }

  table.board {
      text-align: left;
  }
  table.board td.board__content-column{
    width: 550px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}
table.board td.board__content-author{
    width:100px;
    padding: 10px;
   
    border-bottom: 0.5px solid #ccc;
    
}

.bard__index-containeor{
    text-align: center;
}

.댓글.board__container #index-container.bard__index-containeor.board__index-link.board__index{
    padding-right: 20px;
}
.editor__title-input{

    border: 0;
    box-shadow: 1px 1px 3px  gray;
    margin-right: 20px;
}